body{
    margin: 0;
    padding: 0;
}

.slider{
    background: cadetblue;
}

.conteiner {
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
}

.slider__inner {
    padding: 120px 0;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.slider__block {
    font-size: 80px;
    color: blueviolet;
    padding: 100px;
    background: burlywood;
    width: fit-content;
}

.slider__btn-next {
    width: 51px;
    height: 51px;
    border: 1px solid blue;
    border-radius: 4px;
    position: absolute;
    background: transparent;
    top: 45%;
    right: 0px;
    font-size: 21px;
    font-weight: 800;
    color: blue;
    cursor: pointer;
    transition: all .4s;
}

.slider__btn-next:hover {
    color: #fff;
    background: blue;
}

.slider__btn-prev {
    width: 51px;
    height: 51px;
    border: 1px solid blue;
    border-radius: 4px;
    position: absolute;
    background: transparent;
    top: 45%;
    left: 0px;
    font-size: 21px;
    font-weight: 800;
    color: blue;
    cursor: pointer;
    transition: all .4s;
}

.slider__btn-prev:hover {
    color: #fff;
    background: blue;
}

.top{
    font-size: 80px;
    color: rgb(73, 226, 43);
    padding: 100px;
    background: rgb(16, 72, 146);
    width: fit-content;
    /*display: none;*/
}